/*layout*/
html, body{
  height: 100%;
}
/*layout end*/

/*landing page*/

video{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
main{


}
/*landing page end */
