/*golgeler fontes*/
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700');
/*GOOGLE FONTS end*/

/*palette and font

splashScreen gradient
white #e0e0e0
blue #45aaf2

logo gradient
left #237f80
right #2fa46a

fonts
font-family: 'Merriweather Sans', sans-serif;

palette and font end*/



/*layout*/
html, body{
  height: 100%;

}body{
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-radial-gradient(#38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(#38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  z-index: -2;
}
/*layout end*/

/*splash screen*/
#splashScreen{
  align-items: center;

  background: #45aaf2;  /* fallback for old browsers */
  background: -webkit-radial-gradient(#e0e0e0, #45aaf2);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(#e0e0e0, #45aaf2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  z-index: 2;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
#splashScreen:before {
  animation: splashScreenAnimation 2.5s both;
  background: url(../img/todo.svg) no-repeat center;
  content: '';
  display: block;
  height: 33.333333333333%;
  width: 33.333333333333%;
}
#splashScreen blockquote {
  color: #fff;
  font-family: 'Merriweather Sans', sans-serif;
  margin: 0;
}
#splashScreen blockquote #quote {
  margin: 0;
  font-size: 24px;
  text-shadow: 1px 1px black;
}
#splashScreen blockquote #author{

}
#quote:before, #quote :after{
  display: inline-block;
}
  #quote:before {
  content: '“';
  margin: 0 5px 0 0;
}

  #quote:after {
  content: '”';
  margin: 0 0 0 5px;
}
#author{
  float: right;
  font-size: 14px;
}
#author:before{
  content: "—";
  display: inline-block;
  margin: 0 5px 0 0;
}
/*splash screen end*/

/*landing page*/

video{

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  object-fit: cover;
  bottom: 0;
  height: 100vh;
  width: 100%;
  z-index: -1;
}
main p{
  color: #e0e0e0;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 24px;
  text-shadow: 1px 1px black;

}
main img{
  margin: 0 auto 40px;

}
main span{
  font-weight: bold;
  color: #BA550D;
  text-shadow: none;
  font-size: 30px;
}
main a{
  border: 1px solid #2fa46a !important;
  background: #e0e0e0 !important;
  color: #2fa46a !important;
  width: 100px !important;
}
/*landing page end */

/*login and register*/
form.forms{
  color: #237F80;

}
button {
  border: 1px solid #2fa46a !important;
  background: #e0e0e0 !important;
  color: #2fa46a !important;
  width: 100% !important;
}
input{
    border: 1px solid #2fa46a !important;
}
.lgn-reg{
height: 100px;
width: 0 auto;
}
/*login and register end*/

/*navigation*/
.navbar-brand img {
  width: auto;
  height: 30px;
}
.navbar{

}
/*navigation end*/

/*profile header*/
#profileHeader{
  background: #E44D26;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #F16529, #E44D26);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #F16529, #E44D26); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 250px;

  text-align: center;
}
#profileHeader figure{
  margin: 0 auto;
  width: 150px;
  position: relative;
}
#profileHeader figure img,
  #profileHeader figure svg {
border-radius: 50%;
height: 150px;
border: 8px solid #44e480;
margin: 0 auto 10px;
font-size: 150px;
overflow: hidden;
}
#profileHeader figure h1{
color: #e0e0e0;
font-family: 'Merriweather Sans', sans-serif;
font-size: 24px;
margin: 0;
}
#profileHeader figure:before{
  background: #44e499;
  -webkit-box-shadow: 5px 7px 30px 3px rgba(0,0,0,0.5);
-moz-box-shadow: 5px 7px 30px 3px rgba(0,0,0,0.5);
box-shadow: 5px 7px 30px 3px rgba(0,0,0,0.5);
  border-radius: 50%;
  content: '';
  display: block;
  height: 25px;
  width: 25px;
  position: absolute;
  top: 20px;
  left: 5px;
}
#profileHeader figure.away:before{
background: #EA2027;
}
#profileHeader figure.offline:before{
  background: #7f8fa6;
}
/*profile header end*/

/*fix later plz remember*/

.uglySolutionFixLater{
  margin: 200px auto 0;

}
/*fix later plz remember end*/

/*task page*/
#tasks {
  background: #e0e0e0;
  margin: 40px auto 0;
  padding: 40px;
  font-size: 16px;
  font-family: 'Merriweather Sans', sans-serif;
}
#tasks h2{
  text-align: center;
  font-size: 54px;
  border-bottom: 1px solid black;
}
.go-right{
  float: right;
  padding: 0 5px 0 0;
}
#tasks form{
  text-align: center;
}
#tasks input{

  border: 2px solid black;
  border-radius: 5px;
  background: #e0e0e0;
}
#buttonf{
  font-family: 'Merriweather Sans', sans-serif;
    background: #e0e0e0;
}
/*task page end*/

/*animations*/
@keyframes splashScreenAnimation{
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  75% {
    opacity: 1;
    transform: none;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
/*animations end*/
